.task{
    background: #f4f4f4;
    margin:5px;
    padding: 0px 20px;
    cursor: pointer;
}

.task.reminder{
    border-left: 5px solid lightblue;
}

.task h3{
    display: flex;
    align-self: center;
    justify-content: space-between;
}